/* ESTILOS GENERALES EN TODAS LAS PÁGINAS: HEADER, FOOTER, ENTRE OTROS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}


/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-image: url(/assets/img/fondo_patitas.png);
  background-color: #f1e7ae;
  width: 100%;
}

/* LOGO */
.logo_mondarco{
  max-width: 10rem;
}

/* NAV PRINCIPAL */
.nav-lista{
  list-style-type: none;
  display: flex;
  gap: 2rem;
}

.nav-lista li a{
  text-decoration: none;
  color: #222;
  font-weight: bold;
}

/* MENU HAMBURGUESA*/
.abrir-menu,
.cerrar-menu{
  display: none;
}

@media screen and (max-width: 700px){
  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;
  }

  .abrir-menu {
    color: #1c1c1c;
  }

  .cerrar-menu {
    color: #000000;
  }

  
  .nav{
    opacity: 0;
    visibility: hidden;

    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #f2e6a4;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
  }

  .nav.visible {
    opacity: 1;
    visibility:visible ;
  }

  .nav-lista{
    flex-direction: column;
    align-items: end;
  }

}






/* FOOTER*/
